.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
}

.main {
  flex: 1;
  padding: var(--space-8) var(--space-4);
}

.formWrapper {
  width: 100%;
  max-width: 520px;
}
